@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Nunito+Sans:wght@300;600;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Nunito Sans", sans-serif;
}

/*! HEADER */
.header-holder {
  /* max-width: 45px; */
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: beige;
}

.logo-holder {
  display: flex;
  align-items: center;
}

.logo {
  height: 27px;
  /* width: 30px; */
}

.other {
  display: flex;
}
